@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Global Styles */

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

/* Navigation */

nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px;  
    height: 100vh;  
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fafafa;
    border-right: 1px solid #efefef;
}

.user {
    text-align: center;
}

.contact {
    text-decoration: none;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.small-contact {
    display: none; 
}

/* Main Content */

main {
    width: 70%;
    float: left;
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box; 
}

.about-container {
    float: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.about-content {
    flex: 1;
}

ul {
    text-align: left;    
}

h2 {
    font-size: 22px;
}

/* General styles */
.nav-container {
    width: 250px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1280px) {
    nav {
        display: none;
    }

    .small-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-bottom: 1px solid #efefef;
        background-color: #fafafa;
    }

    .small-contact span {
        padding: 1em;
    }
    
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    main {
        width: 100%;
        max-height: calc(100vh - 65px); /* Adjust based on other elements' heights */
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    main {
        padding: 5%;
    }
}